<h2>Add Course Component</h2>
        <div *ngIf="message != ''" class="alert alert-success" role="alert">
            {{message}}
        </div>


        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Course Title</span>
        </div>
        <input #title (change)="0" type="text" class="form-control" placeholder="Enter Title" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Course Summary</span>
        </div>
        <input #summary (change)="0" type="text" class="form-control" placeholder="Enter Summary" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button (click)="addCourse(title.value, summary.value)" type="button" class="btn btn-primary">Add Course</button>